*{
	margin:0;
	padding:0;
	border:0;
}

$grid-unit:em;
$columns:12;
$grid-gutter:0.5em;
$wrapper-width:60em;

$column-width : $wrapper-width / $columns;

@mixin grid-wrapper{
	width:$wrapper-width;
	margin:0 auto;
	padding:0 $grid-gutter;
	background:grey;
	&:after{
		content:"";
		display: table;
		clear:both;
	}
}

@mixin grid-wrapper-inherit{
	width:100%;
	margin:0 auto;
	&:after{
		content:"";
		display: table;
		clear:both;
	}
}

@mixin grid-span($columns){
	padding:0 $grid-gutter;
	width:$columns * $column-width;
	float:left;
	box-sizing:border-box;
	background:rgba(122,54,97,0.8);
}

@mixin grid-last{

}

.grid-1{
	@include grid-wrapper;
	>div:nth-child(1){
		@include grid-span(1);
		background:red;
	}
	>div:nth-child(2){
		@include grid-span(5);
		background:blue;
	}
	>div:nth-child(3){
		@include grid-span(6);
		background:brown;
	}
}

.grid-2{
	@include grid-wrapper;
	>div:nth-child(1){
		@include grid-span(3);
		background:red;
	}
	>div:nth-child(2){
		@include grid-span(4);
		background:blue;
	}
	>div:nth-child(3){
		@include grid-span(5);
		background:brown;
	}
}

.grid-3{
	@include grid-wrapper;
	>div:nth-child(1){
		@include grid-span(4);
		background:red;
	}
	>div:nth-child(2){
		@include grid-span(1);
		background:blue;
	}
	>div:nth-child(3){
		@include grid-span(2);
		background:brown;
	}
	>div:nth-child(4){
		@include grid-span(3);
		background:yellow;
	}
	>div:nth-child(5){
		@include grid-span(2);
		background:pink;
	}
}


.grid-4{
	@include grid-wrapper;
	>div:nth-child(1){
		@include grid-span(6);
		background:red;
	}
	>div:nth-child(2){
		@include grid-wrapper-inherit;
		background:blue;
		>div:nth-child(1){
			@include grid-span(2);
			background:brown;
		}
		>div:nth-child(2){
			@include grid-span(2);
			background:yellow;
		}
		>div:nth-child(3){
			@include grid-span(2);
			background:pink;
		}
	}
}